<footer class="site-footer">
    <div class="wrapper footer-signup">
		
		<h3><span class="fa fa-envelope"></span> &nbsp;Stay in Touch</h3>
			
				<p>Receive Amanda's insights and project updates by email.</p>
			
				{% include mailchimp.html %}
			
		
    </div>
	
	<div class="dark-bottom">
		<div class="wrapper">
			<a href="/feed.xml"><span class="fa fa-rss"></span></a>
		</div>
	</div>
	
</footer>

	
        <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>
                        {% if site.author %}
                            {{ site.author | escape }}
                        {% else %}
                            {{ site.title | escape }}
                        {% endif %}
                    </li>
                    {% if site.email %}
                        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
            
                        <li>
                      
                        </li>
                
                        <li>
                  
						</li>
                </ul>
            </div>
            <div class="footer-col footer-col-3">
                <p>{{ site.description | escape }}</p>
            </div>
        </div> -->