<header class="site-header" role="banner">
	<div class="wrapper">
		<a class="site-title" href="/">{{ site.title }}</a>
		<button class="menu-button" type="button" >Menu</button>
		<nav class="site-nav">
			<ul class="nav-menu">
				<li class="nav-item">
					<a href="#">Blog</a>
					<ul class="nav-submenu">
						{% for category in site.categories %}
						<li class="nav-submenu-item">
							<a href="/{{ category | first }}/"><span class="fa fa-angle-right caret">&emsp;</span>{{ category | first | capitalize }}</a>
						</li>
						{% endfor %}
						<li>
							<a href="/archives/"><span class="fa fa-angle-right caret">&emsp;</span>Full Archive</a>
						</li>
						<li>
							<a href="/email-signup/"><span class="fa fa-angle-right caret">&emsp;</span>Blog Posts by Email</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a href="/about/">About</a>
				</li>
				<li class="nav-item">
					<a href="/contact/">Contact</a>
				</li>
				<li class="nav-item">
					<a href="#">Test</a>
					<ul class="nav-submenu">
						<li class="nav-submenu-item"><a><span class="fa fa-angle-right caret">&emsp;</span>Test 1</a></li>
						<li class="nav-submenu-item"><a><span class="fa fa-angle-right caret">&emsp;</span>Test 2</a></li>
						<li class="nav-submenu-item"><a><span class="fa fa-angle-right caret">&emsp;</span>Test 3</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a href="#"><span class="fa fa-search"></span></a>
					<ul class="nav-submenu search-box">
						<li>
							<form action="/search/" method="get">
								<label for="search-box"></label>
								<input type="text" class="search-box" name="query" placeholder="Search">
							</form>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</header>

<script>
$('.menu-button').click(function () {
	if ($(this).hasClass('open')) {
		$(this).removeClass('open');
		$('.site-nav').removeClass('open');
		$('.nav-menu').removeClass('open');
	} else {
		$(this).addClass('open');
		$('.site-nav').addClass('open');
		$('.nav-menu').addClass('open');
	}
});

$('.nav-item').hover(function () {
	if ($(window).width() > 600) {
		$(this).addClass('open');
	}
}, function () {
	if ($(window).width() > 600) {
		$(this).removeClass('open');
		$('.nav-submenu', this).removeClass('open');
	}
	if ($(window).width() > 400) {
		$('.nav-item').removeClass('open');
		$('.nav-submenu').removeClass('open');
	}
});

$('.nav-item').click(function () {
	if ($(window).width() > 600) {
		document.location.href = '/'; // FIXME
	} else {
		if ($('.nav-submenu', this).hasClass('open')) {
			document.location.href = '/';
		} else {
			$(this).addClass('open');
			$('.nav-submenu', this).addClass('open');
		}
	}
});
</script>