<header role="banner">
	<div class="wrapper">
		<a href="/">{{ site.title }}</a>
		<button type="button">Menu</button>
		<nav>
			<ul>
				<li>
					<a href="#" class="blog-link">Blog</a>
					<ul class="blog-menu">
						{% for category in site.categories %}
						<li>
							<a href="/{{ category | first }}/"><span class="fa fa-angle-right caret">&emsp;</span>{{ category | first | capitalize }}</a>
						</li>
						{% endfor %}
						<li>
							<a href="/archives/"><span class="fa fa-angle-right caret">&emsp;</span>Full Archive</a>
						</li>
						<li>
							<a href="/email-signup/"><span class="fa fa-angle-right caret">&emsp;</span>Blog Posts by Email</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/about/">About</a>
				</li>
				<li>
					<a href="/contact/">Contact</a>
				</li>
				<li>
					<a href="#" class="test-link">Test</a>
					<ul class="test-menu">
						<li><a><span class="fa fa-angle-right caret">&emsp;</span>Test 1</a></li>
						<li><a><span class="fa fa-angle-right caret">&emsp;</span>Test 2</a></li>
						<li><a><span class="fa fa-angle-right caret">&emsp;</span>Test 3</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="search-link"><span class="fa fa-search"></span></a>
					<ul class="search-menu">
						<li>
							<form action="/search/" method="get">
								<label for="search-box"></label>
								<input type="text" class="search-box" name="query" placeholder="Search">
							</form>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</header>

<script>
$('header > div > button').click(function () {
	if ($(this).hasClass('open')) {
		$(this).removeClass('open');
		$('nav').removeClass('open');
		$('nav > ul').removeClass('open');
	} else {
		$(this).addClass('open');
		$('nav').addClass('open');
		$('nav > ul').addClass('open');
	}
});

$('.blog-link').click(function () {
	if ($('.blog-menu').hasClass('open')) {
		document.location.href = "/";
	} else {
		$('.blog-menu').addClass('open');
	}
});

$('.test-link').click(function () {
	if ($('.test-menu').hasClass('open')) {
		document.location.href = "/";
	} else {
		$('.test-menu').addClass('open');
	}
});

$('.search-link').click(function () {
	if ($('.search-menu').hasClass('open')) {
		document.location.href = "/search/";
	} else {
		$('.search-menu').addClass('open');
	}
});
</script>