<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//amandalynnelliott.us15.list-manage.com/subscribe/post?u=31ef6bad00f953239b82458d5&amp;id=eec6ab6ac0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<div class="row">
	<input type="text" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email" required>
	</div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	<div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_31ef6bad00f953239b82458d5_eec6ab6ac0" tabindex="-1" value="">
	</div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->