---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Signika:300,400,500,600,700');
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

// Our variables
$base-font-family: 'Merriweather Sans', sans-serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.35;

$spacing-unit:     30px;

$text-color:       #505050;
$background-color: #fdfdfd;
$brand-color:      rgb(113, 120, 175);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$top-dark:         #292929;

// Width of the content area
$content-width:    800px; //800

$on-palm:          600px;
$on-laptop:        800px; //800

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";


// --- Layout

.post-content, ul.post-list {
	max-width: calc(625px - (30px * 2));
}


// --- Fonts and readability

/* mobile, to be organized */

@media only screen and (min-width:400px) and (max-width: $on-laptop) {
	.wrapper {
		padding-right: 60px;
	}
}

	
body {
	
	@include media-query($on-palm) {
		font-size: 16px;
		line-height: 1.4;
	}
}

.post p:first-child {
	font-size: 24px;
	line-height: 1.3;
	
	@include media-query($on-palm) {
		font-size: 20px;
		/*line-height: 1.4;*/
	}
}



a:hover {
	//text-decoration: none;
	color: $grey-color;
}

body {
	overflow-y: scroll;
}


h1, h2, h3 {
	font-weight: 600;
}

h1 {
	font-family: 'Signika', sans-serif;
	font-size: 36px;
	letter-spacing: normal;
}

h2 {
	font-family: 'Signika', sans-serif;

}

h3 {
	font-family: 'Signika', sans-serif;
}

h4 {
	font-family: 'Signika', sans-serif;
	/* font-variant: small-caps; */
	text-transform: uppercase;
	font-weight: 300;
	color: $grey-color;
}


p ~ h2, p ~ h3, p ~ h4 {
	margin-top: 60px;
}

p {
	margin-bottom: 20px;
}

blockquote {
	margin: 1.5em 0;
	font-size: 1.5em;
	font-style: italic;
	padding-left: 2em;
	border-left: 10px solid #e8e8e8;
}

blockquote footer {
	font-size: 0.8em;
	margin: 0.5em 0;
}

caption {
	color: $grey-color-light;
}

.post li, .post-list li > ul li {
	margin-bottom: 20px; /* 0.25em */
	margin-left: 20px;
	list-style-type: disc;
	
	@include media-query($on-palm) {
		margin-left: 0;
	}
}

p.sidenote {
	padding: 2em 3em;
	background-color: $grey-color-light;
	border-left: 10px solid $grey-color;
	border-radius: 5px;
	font-style: italic;
}

@include media-query($on-palm) {
	p.sidenote {
	padding: 1em 2em;
	}
}

// --- Post footer content

.related-posts h3 { 
    font-size: 26px;
}

.related-posts {
	padding-bottom: 2em;
	border-bottom: 1px solid $grey-color-light;
	font-size: 0.9em;
}

.related-posts p {
	margin-bottom: 0.5em;
}

.post-nav {
	font-size: 0.875em;
	padding-top: 30px;
}

.post-nav-next {
	float: right;
	text-align: right;
}


@include media-query($on-laptop){
	.related-posts h3 {
		font-size: 22px;
	}
}


@include media-query($on-palm){
	.related-post-items {
		font-size: 14px;
	}
	 
	.post-nav {
		font-size: 12px;
	}
	
}

.post-easter-egg {
	max-width: calc(650px - (30px *2));
	text-align:center;
}


// --- Header

.site-header {
	background-color: #292929;
}

.site-title, .site-title:visited {
	color:#e4e4e4; 
}

.site-title:hover {
	text-decoration: none;
	color: #fff;
}

.site-nav {
	background-color: $top-dark;
}

.site-nav .page-link {
	color: #f1f1f1;
}

a, a:visited {
	color: $brand-color;
}


nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

.nav a {
	display: block;
	background: #292929;
	color: #e4e4e4;
	text-decoration: none;
	padding: 1.3em 1.5em;
	position: relative;
	font-size: 14px;
}

.nav {
	vertical-align: top;
	display: inline-block;
}

.nav li {
	position: relative;
}

	.nav > li {
		float: left;
	}

		.nav > li > a {
		}

		.nav > li:hover,
		.nav > li:hover > a {
		}

	.nav li:hover > a {
		color: #fff;
		background-color: #424242;
	}

	.nav > li:first-child {
	}

		.nav > li:first-child > a {
		}

	.nav > li:last-child {
		margin-right: 0;
	}

		.nav > li:last-child > a {
		}

	.nav li li a {
	}

		/* submenu positioning*/
		.nav ul {
			position: absolute;
			white-space: nowrap;
			z-index: 1;
			left: -99999em;
		}

		.nav > li:hover > ul {
			left: auto;
			min-width: 100%;
			border-top: 5px solid $text-color;
		}

		.nav > li li:hover > ul {
			left: 100%;
			margin-left: 1px;
			top: -1px;
		}

	.nav li:hover > ul a {
		padding: 0.5em 1.5em;
		background-color: $grey-color-dark;
	}

	.nav li:hover > ul li:first-child a {
		padding-top: 1.5em;
	}

	.nav li:hover > ul li:last-child a {
		padding-bottom: 1.5em;
	}

	// Search navbar link

ul.search {
	background-color: $grey-color-dark;
	padding: 1em 0.5em;
}

.nav li:hover > ul.search {
	left:-205px;
}

ul.search input#search-box {
	padding: 0.5em;
	background-color: $grey-color-dark;
	border: 1px solid $grey-color;
	border-radius: 5px;
	width: 200px;
	height: 1.5em;
	margin: 0 1em;
	font-size: 14px;
	color: $grey-color-light;
}

ul.search input#search-box:focus {
	outline: none;
	border-color: #fff;
}

// --- sign up

p.sign-up {
	margin-top: 1.5em;
	margin-bottom: 0;
	font-size: 14px;
}

// ------- Navbar mobile

@media screen and (min-width: $on-palm) {
	
	.menu-button {
		display: none;
	}
	
}

@media screen and (max-width: $on-palm) {
	
	.wrapper {
		//padding: 0;
	}
	
	.site-title {
		padding: 0 15px;
		display: block;

	}
	
	.menu-button {
		display: inline-block;
		color: #f1f1f1;
		background-color: $grey-color-dark;
		padding: 0.5em 1em;
	}
	
	nav {
		display: block;
		width: 100%;	
		display: block;
		height: 40px;
	}
	
	header nav ul {
		overflow: hidden;
		background-color: $grey-color-dark;
		height: 0; //this is what menu.js and jQuery should change
	}
	
	header nav ul.open {
		height: auto; //... to this
	}
	
	header nav ul li {
		float: none;
		width: 100%;
		margin: 0;
	}
	
	.nav a {
		// click-state or submenu only background-color: $grey-color-dark;
	}
	
	header nav ul li a {
		border-bottom: 1px solid $grey-color;
		display: block;
	}
	
	header nav ul li:first-child a {
		border-top: 5px solid $grey-color-dark;
	}
	
	.nav a {
		padding: 1em 1.5em;
	}
	
}


// --- Contact form and general inputs, like search

label {
	line-height: 2em;
}

input, textarea {
	font-family: inherit;
	color: $brand-color;
	padding: 0.5em;
	background-color: #fff;
	font-size: 1em;
	line-height: 1.5em;
	border: 1px solid $grey-color-light;
	border-radius: 5px;
}

input:focus, input:focus, textarea:focus {
	outline: none;
	border-color: $grey-color;
}

input[type="submit"] {
	font-size: 1em;
	background-color: $grey-color-dark;
	color: #f1f1f1;
	outline: none;
	border: 1px solid $grey-color-light;
	border-radius: 5px;
	padding: 0.5em 1em;
}

input[type="submit"]:focus {
	background-color: $background-color;
	color: $grey-color;
	border-color: $grey-color;
}

.row {
	margin-bottom: 1.5em;
}

input.name, input.email, textarea {
	width: 100%;
}

@include media-query($on-palm){
	input.name, input.email, textarea {
		width: 94%;
	}
}


// --- Home page

.post-list > li {
	border-top: 1px solid $grey-color-light;
}

h2 a.post-link {
	line-height: 1;
	margin-bottom: 0;
	font-size: 28px;
	
	@include media-query($on-laptop) {
		font-size: 26px;
	}
}

h2.home-post-title, h3.search-result-title {
	margin-bottom: 0;
}

h2.home-post-title {
	margin-top: $spacing-unit;
}

// -- Archives page

ul.archive-list li {
	font-size: 16px;
	list-style-type: none;
	margin-bottom: 10px;
}

// -- Search page

ul#search-results {
	list-style-type: none;
	margin-left: 0;
}

// --- About page

.mySlides {
	height: 300px;
}

// --- Template: right-sidebar

// --- Mailchimp signup

#error-response {
	color: red;
}

#success-response {
	color: green;
}