---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Signika:300,400,600,700');

// Our variables
$base-font-family: 'Merriweather Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #505050;
$background-color: #fdfdfd;
$brand-color:      rgb(113, 120, 175);
;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px; //800

$on-palm:          600px;
$on-laptop:        800px; //800

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";


// --- Layout

.post-content, ul.post-list {
	max-width: calc(650px - (30px * 2));
}


// --- Fonts and readability

body {
	overflow-y: scroll;
}

h1 {
	font-family: 'Signika', sans-serif;
}

h2 {
	font-family: 'Signika', sans-serif;
}

h3 {
	font-family: 'Signika', sans-serif;
	font-weight: 500;
}

h4 {
	font-family: 'Signika', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	color: $grey-color;
}

.post-title {
	font-size: 2.3em;
}


h2, h3, h4 {
	margin-top: 1em;
}

blockquote {
	margin: 1.5em 0;
	font-size: 1.5em;
	font-style: italic;
	padding-left: 2em;
	border-left: 10px solid #e8e8e8;
}

blockquote footer {
	font-size: 0.8em;
	margin: 0.5em 0;
}

caption {
	color: $grey-color-light;
}

li {
	margin-bottom: 0.25em;
}

p.sidenote {
	max-width: 80%;
	margin: 2em;
	padding: 1em 1.5em;
	background-color: $grey-color-light;
	border-bottom: 10px solid $grey-color;
	font-style: italic;
}

/* img + em { // for image captions
	display: block;
	text-align: center;
	font-size: $small-font-size;
	padding: 0.4em;
	border-bottom: 1px solid $grey-color;
	background-color: $grey-color-light;
} */


// --- Post footer content

.related-posts h3 { 
    font-size: 26px;
}

.related-posts {
	padding-bottom: 2em;
	border-bottom: 1px solid $grey-color-light;
	font-size: 0.9em;
}

.related-posts p {
	margin-bottom: 0.5em;
}

.post-nav {
	font-size: 0.875em;
	padding-top: 30px;
}

.post-nav-next {
	float: right;
	text-align: right;
}


@include media-query($on-laptop){
	.related-posts h3 {
		font-size: 22px;
	}
}


@include media-query($on-palm){
	.related-post-items {
		font-size: 14px;
	}
	 
	.post-nav {
		font-size: 12px;
	}
	
	.post-nav-next {
		//margin-top: 1em;
	}
}

.post-easter-egg {
	max-width: calc(650px - (30px *2));
	text-align:center;
}


// --- Header and navigation 

.site-header {
	background-color: #292929;
}

.site-title, .site-title:visited {
	color:#e4e4e4; 
}

.site-nav {
	background-color: #292929;
}

.site-nav .page-link {
	color: #f1f1f1;
}

a, a:visited {
	color: rgb(113, 120, 175);
}


// --- About page

.mySlides {
	max-height: 400px;
}