---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Merriweather Sans', sans-serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  14px;
$base-line-height: 1.35;

$spacing-unit:     30px;

$text-color:       #505050;
$background-color: #fdfdfd;
$brand-color:      rgb(113, 120, 175);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%); //#424242
$top-dark:         #292929;
$site-title:       #e4e4e4;

// Width of the content area
$content-width:    800px; 

$on-phone:         400px;
$on-palm:          600px;
$on-laptop:        800px; 

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";
@import "ours";


// --- Contact form and general inputs, like search

label {
	line-height: 2em;
}

input, textarea {
	font-family: inherit;
	color: $brand-color;
	padding: 0.5em;
	background-color: #fff;
	font-size: 1em;
	line-height: 1.5em;
	border: 1px solid $grey-color-light;
	border-radius: 5px;
}

input:focus, input:focus, textarea:focus {
	outline: none;
	border-color: $grey-color;
}

input[type="submit"] {
	font-size: 1em;
	background-color: $grey-color-dark;
	color: #f1f1f1;
	outline: none;
	border: 1px solid $grey-color-light;
	border-radius: 5px;
	padding: 0.5em 1em;
}

input[type="submit"]:focus {
	background-color: $background-color;
	color: $grey-color;
	border-color: $grey-color;
}

.row {
	margin-bottom: 1.5em;
}

input.name, input.email, textarea {
	width: 100%;
}

@include media-query($on-palm){
	input.name, input.email, textarea {
		width: 94%;
	}
}


// --- Home page

.post-list > li {
	border-top: 1px solid $grey-color-light;
}

h2 a.post-link {
	line-height: 1;
	margin-bottom: 0;
	font-size: 28px;
	
	@include media-query($on-laptop) {
		font-size: 26px;
	}
}

h2.home-post-title, h3.search-result-title {
	margin-bottom: 0;
}

h2.home-post-title {
	margin-top: $spacing-unit;
}

// -- Archives page

ul.archive-list li {
	font-size: 16px;
	list-style-type: none;
	margin-bottom: 10px;
}

// -- Search page

ul#search-results {
	list-style-type: none;
	margin-left: 0;
}

// --- About page

.mySlides {
	height: 300px;
}

// --- Mailchimp signup

#error-response {
	color: red;
}

#success-response {
	color: green;
}