// Reset
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  	margin: 0;
  	padding: 0;
}

// Basic styling
body {
	overflow-y: scroll;
	font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
 	color: $text-color;
  	background-color: $background-color;
  	-webkit-text-size-adjust: 100%;
  	-webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
	font-kerning: normal;

	@include media-query($on-palm) {
		font-size: 16px;
		line-height: 1.4;
	}
}

// Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, %vertical-rhythm {
	margin-bottom: $spacing-unit / 2;
}

// Headers
h1, h2, h3, h4, h5, h6 {
  	font-weight: $base-font-weight;
}

h1, h2, h3 {
	font-weight: 600;
	font-family: 'Signika', sans-serif;
}

h1 {
	font-size: 36px;
	letter-spacing: normal;
}

h4 {
	font-family: 'Signika', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	color: $grey-color;
}

// Paragraphs
p ~ h2, p ~ h3, p ~ h4 {
	margin-top: 60px;
}

p {
	margin-bottom: 20px;

	&.sign-up {
		margin-bottom: 2em;
		font-size: 14px;
	}
}

// Blockquotes
blockquote {
	// MINIMA START
	color: $grey-color;
  	border-left: 4px solid $grey-color-light;
  	padding-left: $spacing-unit / 2;
  	font-size: 18px;
  	letter-spacing: -1px;
  	font-style: italic;

  	> :last-child {
    	margin-bottom: 0;
  	}
	// MINIMA END

	margin: 1.5em 0;
	font-size: 1.5em;
	font-style: italic;
	padding-left: 2em;
	border-left: 10px solid #e8e8e8;
}

blockquote footer {
	font-size: 0.8em;
	margin: 0.5em 0;
}

// Images
img {
  	max-width: 100%;
  	vertical-align: middle;
}

caption, figcaption {
	color: $grey-color-light;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

// Lists
ul, ol {
  	margin-left: $spacing-unit;
}

li {
  	> ul, > ol {
   		margin-bottom: 0;
  	}
}

// Links
a {
	color: $brand-color;
	 text-decoration: none;

	&:visited {
		color: darken($brand-color, 15%); // MINIMA
		color: $brand-color;
	}

	&:hover {
		color: $text-color; // MINIMA
    	text-decoration: underline;
		color: $brand-color;
	}
}

// Inputs and forms
button {
	font-family: $base-font-family;
	font-size: $base-font-size;
}

// Code formatting
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  	padding: 1px 5px;
}

pre {
  	padding: 8px 12px;
  	overflow-x: auto;

  	> code {
    	border: 0;
    	padding-right: 0;
    	padding-left: 0;
  	}
}

// Clearfix
%clearfix:after {
  	content: "";
  	display: table;
  	clear: both;
}

// Wrapper
.wrapper {
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
	max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  	margin-right: auto;
  	margin-left: auto;
  	padding-right: $spacing-unit;
  	padding-left: $spacing-unit;
  	@extend %clearfix;

	@include media-query($on-laptop) {
   		max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    	max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    	padding-right: $spacing-unit / 2;
    	padding-left: $spacing-unit / 2;
  	}

	@media screen and (max-width: $on-phone) {	
		padding-bottom: 15px;
	}
}

// Icons
.icon > svg {
  	display: inline-block;
  	vertical-align: middle;

  	path {
    	fill: $grey-color;
  	}
}
