// Reset
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  	margin: 0;
  	padding: 0;
}

// Basic styling
body {
	overflow-y: scroll;
	font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
 	color: $text-color;
  	background-color: $background-color;
	text-align: justify;
  	-webkit-text-size-adjust: 100%;
  	-webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
	font-kerning: normal;
	
	@media screen and (max-width:$on-tablet) {
    	font-size: 18px;
		line-height: 26px;
    }

	@media screen and (max-width:$on-phone) {
		font-size: 16px;
		line-height: 24px;
	}
}

// Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, %vertical-rhythm {
	margin-bottom: $spacing-unit / 2;
}

// Headers
.page-heading {
  font-size: 20px;
}

h4, h5, h6 {
  	font-weight: $base-font-weight;
}

h1, h2, h3 {
	line-height: 1;
	font-weight: 600;
	font-family: 'Signika', sans-serif;
}

h1 {
	font-size: 36px;
	letter-spacing: normal;
	
	@media screen and (max-width:$on-laptop) {
    	font-size: 36px;
	}
	
	@media screen and (max-width:$on-tablet) {
		font-size: 34px;
	}
	
	@media screen and (max-width:$on-phone) {
		font-size: 32px;
	} 
}

h2 {
    font-size: 34px;
	line-height: 1;

    @media screen and (max-width:$on-tablet) {
    	font-size: 32px;
    }
	
	@media screen and (max-width:$on-phone) {
		font-size: 30px;
	}
}

h3 {
    font-size: 30px;

    @media screen and (max-width:$on-tablet) {
      font-size: 28px;
    }
	
	@media screen and (max-width:$on-phone) {
		font-size: 26px;
	}
}

 h4 {
    font-size: 24px;
	line-height: 2;
	font-family: 'Signika', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	color: $grey-color;
	background-color: $grey-color-light;
	text-align: center;

    @media screen and (max-width:$on-tablet) {
      font-size: 24px; 
    }
	 
	@media screen and (max-width:$on-phone) {
		font-size: 22px;
	}
  }

h2, h3 {
	
	@media screen and (min-width:$on-phone) {
		text-align: left;
	}
	
	@media screen and (max-width:$on-phone) {
		text-align: center;
	}
}

// Paragraphs
p ~ h2, p ~ h3, p ~ h4 {
	margin-top: 40px;
	
	@media screen and (max-width:$on-tablet) {
		margin-top: 50px;
	}
	
	@media screen and (max-width:$on-phone) {
		margin-top: 40px;
	}
}

h2 ~ h3, h2 ~ h4, h3 ~ h4 {
	margin-top: 0;
}

p {
	margin-bottom: 32px;

	&.sign-up {
		font-size: 14px;
		text-align: end;
		
		@media screen and (max-width:$on-phone) {
			text-align: right;
			line-height: 20px;
			margin-bottom: 16px;
		}
		
		br {
			display: none;
			
			@media screen and (max-width:$on-phone) {
				display: inline;
			}
		}
	}
}

// Blockquotes
blockquote {
	margin: $spacing-unit 0;
	padding-left: $spacing-unit*2;
	color: $grey-color;
  	border-left: 10px solid #e8e8e8;
  	font-size: 30px;
  	letter-spacing: -1px;
  	font-style: italic;
	line-height: 1.4;
	text-align: left;

  	> :last-child {
    	margin-bottom: 0;
  	}
	
	@media screen and (max-width: $on-phone) {
		padding-left: $spacing-unit;
		font-size: 24px;
		line-height: 1.5;
	}
}

blockquote footer {
	font-size: 0.8em;
	margin: $spacing-unit/2 0;
	line-height: 1.5;
}

// Images
img {
  	max-width: 100%;
  	vertical-align: middle;
}

caption, figcaption {
	color: $grey-color;
	font-size: $small-font-size;
	padding-top: 8px;
	text-align: center;
	
	@media screen and (max-width:$on-phone) {
		font-size: 14px;
	}
}

figure > img {
  display: block;
}

// Lists
ul, ol {
  	margin-left: $spacing-unit;
}

li {
  	> ul, > ol {
   		margin-bottom: 0;
  	}
}

// Links
a {
	color: $brand-color;
	 text-decoration: none;

	&:visited {
		color: $brand-color;
	}

	&:hover {
    	text-decoration: underline;
		color: $brand-color;
	}
}

// Tables

table, th, td {
    border: 1px solid $grey-color-light;
}

table {
	margin-bottom: $spacing-unit;
	border-collapse: collapse;
	width: 100%;
	font-size: $small-font-size;
	
	td {
		//padding-right: 24px;
	}
	
	th, td {
		padding: 8px 16px;
	}
	
	tr:nth-child(even) {
		background-color: $grey-color-light;
	}
	
	th {
		background-color: $grey-color;
		color: $background-color;
	}
}

// Inputs and forms
button {
	font-family: $base-font-family;
	font-size: $base-font-size;
	-webkit-appearance: none;
}

label {
	line-height: 2em;
}

input, textarea {
	font-family: inherit;
	color: $brand-color;
	padding: 8px;
	background-color: #fff;
	font-size: 1em;
	line-height: 1.5em;
	border: 1px solid $grey-color-light;
	border-radius: 5px;
}

input:focus, input:focus, textarea:focus {
	outline: none;
	border-color: $grey-color;
}

input[type="submit"] {
	font-size: 1em;
	background-color: $grey-color-dark;
	color: #f1f1f1;
	outline: none;
	border: 1px solid $grey-color-light;
	border-radius: 5px;
	padding: 0.5em 1em;
}

input[type="submit"]:focus {
	background-color: $background-color;
	color: $grey-color;
	border-color: $grey-color;
}

.row {
	margin-bottom: 16px;
}

input.name, input.email, textarea {
	width: 100%;
}

@media screen and (max-width:$on-tablet){
	input.name, input.email, textarea {
		width: 93%;
	}
}


// Code formatting
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  	padding: 1px 5px;
}

pre {
  	padding: 8px 12px;
  	overflow-x: auto;

  	> code {
    	border: 0;
    	padding-right: 0;
    	padding-left: 0;
  	}
}

// Clearfix
%clearfix:after {
  	content: "";
  	display: table;
  	clear: both;
}

// Wrapper

.page-content {
	padding: $spacing-unit 0;
}

.wrapper {
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
	max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  	margin-right: auto;
  	margin-left: auto;
  	padding-right: $spacing-unit;
  	padding-left: $spacing-unit;
  	@extend %clearfix;

	@media screen and (max-width: $on-laptop) {
   		max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    	max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    /*	padding-right: $spacing-unit / 2;
    	padding-left: $spacing-unit / 2; */
  	}

	@media screen and (max-width: $on-phone) {	
		padding-bottom: 16px;
	}

	@media only screen and (min-width:700px) and (max-width:$on-laptop) {
		padding-right: 90px;
		padding-left: 90px;
	}
	
	@media only screen and (min-width:600px) and (max-width:700px) {
		padding-right: 70px;
		padding-left: 70px;
	}
	
	@media only screen and (min-width:500px) and (max-width:600px) {
		padding-right: 50px;
		padding-left: 50px;
	}
	
	@media only screen and (min-width:400px) and (max-width: 500px) {
		padding-right: 30px;
		padding-left: 30px;
	}
}

.full-width-wrapper {
	margin-right: auto;
  	margin-left: auto;
	padding-right: $spacing-unit;
  	padding-left: $spacing-unit;
}

// Icons
.icon > svg {
  	display: inline-block;
  	vertical-align: middle;

  	path {
    	fill: $grey-color;
  	}
}


// Embedded Videos
.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	margin-bottom: 32px;
} 
	
.embed-container iframe, .embed-container object, .embed-container embed { 	
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}
