// -- Archives page

ul.archive-list li {
	font-size: 16px;
	list-style-type: none;
	margin-bottom: 10px;
}

// -- Search page

ul#search-results {
	list-style-type: none;
	margin-left: 0;
}

// --- About page

slides {
	
}

.mySlides {
	height: 300px;
}
 /* slideshow */
.animate-fading {
	-webkit-animation:fading 10s infinite;
	animation:fading 10s infinite
}

@-webkit-keyframes fading {
	0%{opacity:0}
	50%{opacity:1}
	100%{opacity:0}
}

@keyframes fading {
	0%{opacity:0}
	50%{opacity:1}
	100%{opacity:0}
}