// -- Archives page

ul.archive-list li {
	font-size: 16px;
	list-style-type: none;
	margin-bottom: 10px;
}

// -- Search page

ul#search-results {
	list-style-type: none;
	margin-left: 0;
}

// --- About page

.mySlides {
	height: 300px;
}