---
layout: default
---
<div class="home">
	<div class="post-header">
		<h1 class="post-title">
			Amanda's Blog
			{% if page.category %}
				: {{ page.title }}
			{% endif %}
		</h1>
		<p class="post-meta">thoughts like these rack my brain and keep me sane</p>
	</div>
	{{ content }}
	<ul class="post-list">
		{% if page.category %}
			{% assign posts = site.categories[page.category] %}
		{% else %}
			{% assign posts = site.posts %}
		{% endif %}
		{% for post in posts %}
			<li class="post-list-item">
				<div class="post-header">
					<h2>
						<a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
					</h2>
					<span class="post-meta">
						{{ post.date | date: "%B %-d, %Y" }}
					</span>
				</div>
				{{ post.excerpt }} <em><a href="{{ post.url }}">Read more</a></em>
			</li>
		{% endfor %}
	</ul>
	<p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>
</div>
